* {
    margin: 0px;
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    padding: 0px;
}

.logoinicio {
    width: 400px;
}

header {
    background-color: rgb(230, 1, 18);
    text-decoration-line: none;
    width: 100%;
}

video {
    width: 100%;
}

main {
    background-color: rgb(255, 255, 255);
}

main h1 {
    font-size: 2rem;
    color: grey;
    margin-bottom: 10px;
    text-align: center;
}

main h2 {
    font-size: 2rem;
    color: grey;
    margin-bottom: 20px;
    text-align: center;
}

main p {
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}

main h3 {
    color: gray;
}

.contenedorbutton {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.button {
    background-color: rgb(2, 99, 197);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

section {
    background-color: rgb(241, 241, 241);
    margin-bottom: 20px;
}

.logoinicio {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

nav {
    background-color: rgb(2, 99, 197);
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 10px;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    margin: 10px 10px;
    transition: 1s;
}

nav a:hover {
    background-color: rgb(2, 99, 197);
    transform: translate(0, -5px);
}

form {
    width: 50%; /* Establece el ancho del formulario */
    margin: 0 auto; /* Centra horizontalmente el formulario en el centro de la página */
    text-align: center; /* Centra el contenido del formulario */
  }
  

label {
    color: gray;
}

input {
    color: gray;
}

textarea {
    color: gray;
}


.productosdestacados {
    margin-bottom: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    justify-content: space-evenly;
}

.cajaproducto {
    border: solid rgb(187, 187, 187);
    width: 300px;
    height: 350px;
    transition: 0.5s;
}

.cajaproducto:hover {
    transform: translate(0px, -10px);
}

.cajaproducto h3 {
    text-align: center;
}

.cajaproducto p {
    text-align: center;
}

.contenedordeproductos {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    grid-gap: 20px;
}

.tituloproducto {
    min-height: 40px;
}

.descripcionproducto {
    height: 40px;
    overflow: hidden;
    margin-bottom: 0px;
}

.precioproducto {
    font-size: larger;
    font-weight: 800;
    margin-bottom: 0;
    color: rgb(230, 1, 18);
}

.novedadesgrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    margin-bottom: 20px;
}

iframe {
    margin-bottom: 20px;
}

.novedadesaside {
    width: 300px;
    background-color: rgb(241, 241, 241);
}

.columnanovedades {
    display: flex;
    justify-content: center;
}

.posteonovedades {
    width: 560px;
}

.posteonovedades p {
    padding: 5%;
}

.tituloblog {
    background-color: rgb(2, 99, 197);
    color: aliceblue;
}

footer {
    background-color: rgb(230, 1, 18);
    text-align: center;
    min-height: 50px;
    margin-bottom: 20px;
    font-size: 1rem;
}

footer a {
    text-decoration: none;
}

footer p {
    text-align: center;
}



@media only screen and (max-width: 768px) {
    .productosdestacados {
        grid-template-columns: repeat(2, auto);
    }

    .contenedordeproductos {
        grid-template-columns: repeat(2, auto);
    }
}


@media only screen and (max-width: 480px) {
    video {
        display: none;
    }

    .contenedordeproductos {
        grid-template-columns: repeat(1, auto);
    }
    .productosdestacados{
        grid-template-columns: repeat(1, auto);
    }

    .logoinicio {
        width: 270px;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    .columnanovedades {
        width: 380px;
    }

    iframe {
        width: 100%;
    }

    footer {
        margin-bottom: 20px;
    }
}